@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>Github repositories:</h3>
        <p><a href="https://github.com/dewitivan777/NETCoreMVCVueJs">Web</a></p>
        <p><a href="https://github.com/dewitivan777/NetCoreAPI">API</a></p>

        <h4>You'll be able to start the project by running the BAT files provided. <a href="https://github.com/dewitivan777/NetCoreAPI/tree/master/BAT%20Files">API BAT files</a> and <a href="https://github.com/dewitivan777/NETCoreMVCVueJs/tree/master/BAT%20files">Web BAT files</a></h4>
   
        <h4>Project uses a locally hosted MongoDb database (Can be changed in API services's appsettings) named "TestDb" with the following collections:</h4>
        <ul style="list-style-type:none">
            <li>CategoryEntity</li>
            <li>OrderEntity</li>
            <li>ProductEntity</li>
            <li>SupplierEntity</li>
        </ul>

    </div>
